<div class="container">
  <div class="search-bar px-5">
  <%= simple_form_for :search, url: root_path(), method: :get, data: { turbo_action: "replace" } do |f| %>
    <%= hidden_field_tag 'farm_id', params[:farm_id] if params[:farm_id].present? %>
    <%= hidden_field_tag 'storage_id', params[:storage_id] if params[:storage_id].present? %>
    <%= hidden_field_tag :filter, params[:filter] if params[:filter].present? %>
    <div class="form-group">
      <div class="input-group">
          <input class="form-control string required" type="text" placeholder="Buscar produto" name="search[query]" id="search_query"
                value="<%= params[:search][:query] if params[:search].present? %>" />
          <div class="input-group-append">
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>

 <div class="card-btn row mb-3">
  <div class="col-sm-4">
    <h2 class="mt-4">Meus produtos:</h2>

    <%= link_to farms_path(format: :pdf, farm_id: @storage.farm_id, storage_id: @storage.id),
                class: "btn-plus-sign", title: "Exportar PDF" do %>
      <i class="fa-solid fa-file-pdf"></i>
    <% end %>
  </div>

  <div class="col-sm-8 p-0">
    <div class="row align-items-start">
      <% manager = @storage.farm.employees.find_by(user_id: current_user.id) %>
      <% can_manage = manager&.manager || @storage.farm.user == current_user %>

      <% if can_manage %>
        <div class="col-md-6 d-flex justify-content-center mb-3 mb-md-0">
          <%= render "product_form_button",
                      storage: storage,
                      cart: cart,
                      entry: 1,
                      icon: "fa-up-long",
                      text: "Entrada de produto",
                      btn_class: "btn-new-product" %>
        </div>
      <% end %>

      <div class="col-md-6 d-flex justify-content-center">
        <%= render "product_form_button",
                    storage: storage,
                    cart: cart,
                    entry: 0,
                    icon: "fa-down-long",
                    text: "Saída de produto",
                    btn_class: "btn-out-product" %>
      </div>

      <% if @carts.present? %>
        <p class="text-center mt-3">
          Última atualização: <%= @carts.last.updated_at.strftime('%d/%m/%Y') %>
        </p>
      <% end %>
    </div>
  </div>
</div>

    <% total_chemicals = 30 %>
    <% offset = params[:set].to_i % total_chemicals == 0 ? params[:set].to_i : 0 %>
   <div id="cart-<%= cart.id %>" class="table-responsive col-12">
    <table id="search-results-bottom" class="table table-dark table-striped table-bordered ">
      <thead>
        <tr>
          <th class='text-center' scope="col">
            <%= link_to "Nome", farms_path(request.query_parameters.merge(filter: 0)), class: "#{'text-decoration-none' unless params[:filter].to_i == 0} #{'text-decoration-underline' if params[:filter].to_i == 0} text-white" %>
          </th>
          <th class='text-center' scope="col">
            <%= link_to "Tipo", farms_path(request.query_parameters.merge(filter: 1)), class: "#{'text-decoration-none' unless params[:filter].to_i == 1} #{'text-decoration-underline' if params[:filter].to_i == 1} text-white" %>
          </th>
          <th class='text-center d-none d-sm-table-cell' scope="col">
            <%= link_to "Composto", farms_path(request.query_parameters.merge(filter: 3)), class: "#{'text-decoration-none' unless params[:filter].to_i == 3} #{'text-decoration-underline' if params[:filter].to_i == 3} text-white" %>
          </th>
          <th class='text-center' scope="col">
            <%= link_to "Total em estoque", farms_path(request.query_parameters.merge(filter: 2)), class: "#{'text-decoration-none' unless params[:filter].to_i == 2} #{'text-decoration-underline' if params[:filter].to_i == 2} text-white" %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @chemical_totals.limit(total_chemicals).offset(offset).each do |chemical| %>
           <% if chemical.total_quantity > 0   %>
            <tr>
              <td class='text-center'><%= link_to chemical_path(chemical), data: {turbo_frame: :modal}, class: "text-decoration-none text-white" do %> <%= chemical.product_name.capitalize %> <% end %></td>
              <td class='text-center'><%= chemical.type_product.titleize %></td>
              <td class='text-center d-none d-sm-table-cell'><%= chemical.compound_product.capitalize %></td>
              <td class='text-center'><%= number_with_precision(chemical.total, precision: 2) %> <%= chemical.measurement_unit %></td>
            </tr>
          <% end %>
        <% end %>

      </tbody>
    </table>
  </div>
   <p class="icon-lg-right "> <% if offset > 0 %>
        <%= link_to farms_path(request.query_parameters.merge(set: offset - total_chemicals)), class: "text-dgreen text-decoration-none" do %>
          <i class="fa-solid fa-arrow-left"></i>
        <% end %>
      <% end %>
      Página <%=(offset/total_chemicals)+1 %>
      <% if offset+total_chemicals < @chemical_totals.length %>
        <%= link_to farms_path(request.query_parameters.merge(set: offset + total_chemicals)), class: "text-dgreen text-decoration-none" do %>
          <i class="fa-solid fa-arrow-right"></i>
        <% end %>
      <% end %>
    </p>
</div>
