<div class="col-6 m-2">
  <h2>Buscar produto:</h2>
<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <%= hidden_field_tag 'farm_id', params[:farm_id] if params[:farm_id].present? %>
  <%= hidden_field_tag 'storage_id', params[:storage_id] if params[:storage_id].present? %>
  <div class="search-form-control form-group">
    <div class="input-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query"
             value="<%= params[:search][:query] if params[:search].present? %>" />
      <div class="input-group-append">
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  <% end %>
</div>
<% manager = @storage.farm.employees.find_by(user_id: current_user.id) %>
  <% if (manager.present? && manager.manager) || @storage.farm.user == current_user %>
    <%= simple_form_for [storage, cart] do |f|%>
    <%= f.hidden_field :entry, value: 1 %>
    <button name="button" type="submit" class="btn-new-product">
          <i class="fa-solid fa-up-long"></i> Entrada de produto
        </button>
    <% end %>
  <% end %>
  <%# <%= raise %>
<div class= "btn-jdn">
<%= simple_form_for [storage,cart] do |f|%>
  <%= f.hidden_field :entry, value: 0 %>
    <button name="button" type="submit" class="btn-out-product">
          <i class="fa-solid fa-down-long"></i> Saída de produto
        </button>
<% end %>
</div>
<h2 class='my-4'>Meus Produtos:</h2>
<div id="cart-<%= cart.id %>" class="table-responsive col-12">
  <table class="table table-dark table-striped table-bordered ">
  <thead>
    <tr>
      <th class='text-center' scope="col">Nome</th>
      <th class='text-center' scope="col">Tipo</th>
      <th class='text-center' scope="col">Composto</th>
      <th class='text-center' scope="col">Total em estoque</th>
    </tr>
  </thead>
  <tbody>
    <% @chemical_totals.each do |chemical_total, chemical_value| %>
      <% total_quantity = chemical_value.sum(&:quantity) %>
      <tr>
        <td class='text-center'><%= link_to chemical_path(chemical_total), data: {turbo_frame: :modal}, class: "text-decoration-none text-white" do %> <%= Chemical.find(chemical_total).product_name %> <% end %></td>
        <td class='text-center'><%= Chemical.find(chemical_total).type_product %></td>
        <td class='text-center'><%= Chemical.find(chemical_total).compound_product %></td>
        <td class='text-center'><%= total_quantity*Chemical.find(chemical_total).amount%> <%= Chemical.find(chemical_total).measurement_unit %> </td>
    </tr>
    <% end %>

  </tbody>
  </table>
 </div>
</div>
