
<%= simple_form_for [storage, cart] do |f|%>
  <%= f.hidden_field :entry, value: 1 %>
  <%= f.submit 'Entrada de produtos', class: "my-2 btn-login" %>
<% end %>
<%= simple_form_for [storage, cart] do |f|%>
  <%= f.hidden_field :entry, value: 0 %>
  <%= f.submit 'Saída de produtos', class: "my-2 btn-red" %>
<% end %>
<h2 class='my-4'>Meus Produtos:</h2>
<div id="cart-<%= cart.id %>" class="table-responsive col-10">
  <table class="table table-dark table-striped table-bordered">
  <thead>
    <tr>
      <th class='text-center' scope="col">Nome</th>
      <th class='text-center' scope="col">Tipo</th>
      <th class='text-center' scope="col">Composto</th>
      <th class='text-center' scope="col">Total em estoque</th>
    </tr>
  </thead>
  <tbody>
    <% @chemical_totals.each do |chemical_total, chemical_value| %>
      <% total_quantity = chemical_value.sum(&:quantity) %>
      <tr>
        <td class='text-center'><%= link_to chemical_path(chemical_total), class: "text-decoration-none text-white" do %> <%= highlight(Chemical.find(chemical_total).product_name, params.dig(:search, :query)) %> <% end %></td>
        <td class='text-center'><%= Chemical.find(chemical_total).type_product %></td>
        <td class='text-center'><%= Chemical.find(chemical_total).compound_product %></td>
        <td class='text-center'><%= total_quantity*Chemical.find(chemical_total).amount%> <%= Chemical.find(chemical_total).measurement_unit %> </td>
    </tr>
    <% end %>

  </tbody>
  </table>
 </div>
