<div class="container">
  <div class="search-bar px-5">
    <%= simple_form_for :search, url: root_path(anchor: 'search-results-bottom'), method: :get, data: { turbo_action: "replace" } do |f| %>
      <%= hidden_field_tag 'farm_id', params[:farm_id] if params[:farm_id].present? %>
      <%= hidden_field_tag 'storage_id', params[:storage_id] if params[:storage_id].present? %>
      <div class="search-form-control form-group">
        <div class="input-group">
          <input class="form-control string required" type="text" placeholder="Buscar produto" name="search[query]" id="search_query"
                value="<%= params[:search][:query] if params[:search].present? %>" />
          <div class="input-group-append">
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="card-btn  row mb-4 ">

    <div class="col-sm-4">
      <h2 class='mt-4'>Meus produtos:</h2>
    </div>

<div class="col-sm-8 p-0">
  <div class="row">
      <% manager = @storage.farm.employees.find_by(user_id: current_user.id) %>
      <% if (manager.present? && manager.manager) || @storage.farm.user == current_user %>
        <div class="col-md-6 d-flex d-sm-block justify-content-around ">
          <%= simple_form_for [storage, cart] do |f|%>
            <%= f.hidden_field :entry, value: 1 %>
            <button name="button" type="submit" class=" btn-new-product mt-4 ">
              <i class="fa-solid fa-up-long"></i> Entrada de produto
            </button>
          <% end %>
        </div>
      <% end %>

      <div class="col-md-6 d-flex d-sm-block justify-content-center ">
        <%= simple_form_for [storage,cart] do |f|%>
          <%= f.hidden_field :entry, value: 0 %>
            <button name="button" type="submit" class="btn-out-product  mt-4">
              <i class="fa-solid fa-down-long"></i> Saída de produto
            </button>
        <% end %>
      </div>
  </div>
</div>
  </div>

   <div id="cart-<%= cart.id %>" class="table-responsive col-12">
    <table id="search-results-bottom" class="table table-dark table-striped table-bordered ">
      <thead>
        <tr>
          <th class='text-center' scope="col">Nome</th>
          <th class='text-center' scope="col">Tipo</th>
          <th class='text-center d-none d-sm-table-cell' scope="col">Composto</th>
          <th class='text-center' scope="col">Total em estoque</th>
        </tr>
      </thead>
      <tbody>
        <% @chemical_totals.each do |chemical| %>
          <% if chemical.total_quantity > 0   %>
            <tr>
              <td class='text-center'><%= link_to chemical_path(chemical), data: {turbo_frame: :modal}, class: "text-decoration-none text-white" do %> <%= highlight_background(chemical.product_name, params.dig(:search, :query)) %> <% end %></td>
              <td class='text-center'><%= chemical.type_product.titleize %></td>
              <td class='text-center d-none d-sm-table-cell'><%= chemical.compound_product %></td>
              <td class='text-center'><%= chemical.total_quantity*chemical.amount%> <%= chemical.measurement_unit %> </td>
            </tr>
          <% end %>
        <% end %>

      </tbody>
    </table>
  </div>
</div>
