<%= link_to "Entradas de produtos",new_cart_path(storage) %>
<h2 class='my-4'>Meus Produtos</h2>
<div class="table-responsive col-10">
  <table class="table table-dark table-striped table-bordered">
  <thead>
    <tr>
      <th class='text-center' scope="col">Nome</th>
      <th class='text-center' scope="col">Tipo</th>
      <th class='text-center' scope="col">Composto</th>
      <th  class='text-center' scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <% @chemical_totals.each do |chemical_total, chemical_value| %>
      <% total_quantity = chemical_value.sum(&:quantity) %>
      <tr>
        <td class='text-center'><%= Chemical.find(chemical_total).product_name %></td>
        <td class='text-center'><%= Chemical.find(chemical_total).type_product %></td>
        <td class='text-center'><%= Chemical.find(chemical_total).compound_product %></td>
        <td class='text-center'><%= total_quantity %></td>
    </tr>
    <% end %>

  </tbody>
  </table>
 </div>
