<div class="container">
  <%= form_with url: farms_path, method: :get do |form| %>

    <div class="row m-5">

      <div class="col-4 m-2">
        <h2>Fazendas:</h2>
          <%= form.collection_select  :farm_id, @farms, :id, :name,
          {selected: @farm ? @farm.id : nil, prompt: 'Select a farm' },
          { onchange: 'this.form.requestSubmit()',  class: 'form-control'}
        %>
      </div>



      <div class="col-4 m-2">
        <h2>Estoques:</h2>

            <%= form.collection_select  :storage_id, @storages, :id, :name,
            { prompt: 'Select a storage', selected: @storage ? @storage.id : nil},
            { class: 'form-control', onchange: 'this.form.requestSubmit()'}
          %>
      </div>


    </div>
  <% end %>

  <% if @storage %>
    <div class="m-5" id="carts">
      <h2 class='my-4'>Meus Produtos:</h2>

      <%= render partial: 'farms/carts', locals: { chemical_totals: @chemical_totals, storage: @storage, cart: @cart}
  %>

    </div>
  <% end %>
</div>

<%= link_to 'Limpar', root_path %>
