<div class="container container-view mt-4">
  <div class="title-big">
    <h1 class="farm-title"><i class="fa-brands fa-pagelines"></i> Fazendas</h1>
  </div>
    <div class="cards">
      <div class="row">
        <% @farms.each do |farm| %>
          <div class="col-sm-4">
            <div class="card-small">
              <h2><%= farm.name %></h2>
              <p>Tamanho: <span class="title-info"><%= farm.size %></p>
              <div class="map-container">
                <div id="map_<%= farm.id %>" class="map" style="height: 300px;"></div>
              </div>
              <div class="d-flex align-items-end flex-column">
                <div class="mt-auto p-2">
                  <%= link_to 'Edit', edit_farm_path(farm), class:"btn-edit" %>
                  <%= link_to farm_path(farm), data: {turbo_method: :delete}, class:'btn-delete-bin' do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <script>
            mapboxgl.accessToken = "pk.eyJ1Ijoiam9yZGFubzg4IiwiYSI6ImNsc2x4OWdvZjBkOTUyanNjOXRtZno4YnkifQ.9TVAMKmkrFEmnXjmIah2aQ";
            var map_<%= farm.id %> = new mapboxgl.Map({
              container: 'map_<%= farm.id %>',
              style: 'mapbox://styles/mapbox/streets-v11',
              center: [<%= farm.longitude %>, <%= farm.latitude %>],
              zoom: 15
            });
            new mapboxgl.Marker()
              .setLngLat([<%= farm.longitude %>, <%= farm.latitude %>])
              .setPopup(new mapboxgl.Popup().setHTML('<h3>' + '<%= farm.name %>' + '</h3>'))
              .addTo(map_<%= farm.id %>);
          </script>
        <% end %>
      </div>
    </div>
</div>
<div class="btn-plus-sign-container">
  <%= link_to "<i class='fa-solid fa-circle-plus'></i>".html_safe, new_farm_path, class: "btn-plus-sign" %>
</div>
