<div class="container container-view mt-4">
  <div class="title-big">
    <h1 class="farm-title"><i class="fa-brands fa-pagelines"></i> Fazendas</h1>
  </div>
    <div class="cards">
      <div class="row">
        <% @farms.each do |farm| %>
          <div class="col-sm-4">
            <div class="card-small">
              <h2><%= farm.name %></h2>
              <p>Tamanho: <span class="title-info"><%= farm.size %></p>
              <p><i class="fa-solid fa-warehouse"></i> Galpões:</p>
                <ul>
                  <% farm.storages.each do |storage| %>
                    <li>
                      <%= storage.name %>
                      <%= link_to '<i class="fa-regular fa-pen-to-square"></i>'.html_safe, edit_storage_path(storage), class: "text-dgreen text-decoration-none" %>
                      <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, storage_path(storage), class: "btn-delete-bin", data: { turbo_method: :delete, turbo_confirm: "Excluir Galpão?" } %>
                    </li>
                  <% end %>
                  <li> <%= link_to "Adicionar Galpão <i class='fa-solid fa-circle-plus'></i>".html_safe, new_storage_path, class: "text-dgreen text-decoration-none" %></li>
                </ul>
              <div class="d-flex align-items-end flex-column">
                <div class="mt-auto  fs-4">
                  <%= link_to  edit_farm_path(farm), class:"text-dgreen text-decoration-none" do %>
                   <i class="fa-regular fa-pen-to-square"></i>
                  <% end %>
                  <%= link_to farm_path(farm), data: {turbo_method: :delete}, class:'btn-delete-bin' do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
<div class="btn-plus-sign-container">
  <%= link_to "<i class='fa-solid fa-circle-plus'></i>".html_safe, new_farm_path, class: "btn-plus-sign" %>
</div>
