
<div class="container mt-4">
<div class="title-big">
  <h1 class="farm-title"><i class="fa-brands fa-pagelines"></i> Minhas Fazendas</h1>
  </div>
    <%= link_to "<i class='fa-solid fa-circle-plus'></i>".html_safe, new_farm_path, class: "btn-plus-sign" %>
    <div class="cards">
      <div class="row">
    <% @farms.each do |farm| %>
    <div class="col-sm-4">
    <div class="card-small">
          <p class="card-text">Nome da Fazenda: <%= farm.name %></p>
          <p class="card-text">Tamanho da Fazenda: <%= farm.size %></p>
          <p class="card-text">Usuário: <%= farm.user_id %></p>
    <div class="d-flex align-items-end flex-column position-relative">
      <div class="mt-auto p-2">
          <%= link_to 'Edit', edit_farm_path(farm), class:"btn-edit" %>
          <%= link_to  farm_path(farm),  data: {turbo_method: :delete}, class:'btn-delete-bin' do  %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
           </div>
        </div>
      </div>
     </div>
    <% end %>
  </div>
</div>
</div>
