<div class="container container-view mt-4">
  <div class="form-shape col-md-6 mx-auto">
    <%= link_to myfarms_path, class: 'btn-back text-decoration-none' do %>
      <i class='fa-solid fa-circle-left'></i>
    <% end %>
    <h2 class="form-title">Cadastrar nova Fazenda</h2>
    <%= simple_form_for @farm do |f| %>
      <%= f.input :name, label_html: { class: "label-form" }, label: "Nome da Fazenda" %>
      <%= f.input :size, label: "Tamanho" %>
      <%= f.input :cep, label: "CEP", input_html: { id: "cepInput" } %>
      <%= f.input :complement, label: "Complemento" %>
      <%= f.input :latitude, as: :hidden, input_html: { id: "farmLatitude" } %>
      <%= f.input :longitude, as: :hidden, input_html: { id: "farmLongitude" } %>
      <%= f.button :submit, "Criar nova fazenda", class: "my-2 btn-login" %>
    <% end %>
  </div>
</div>
