<div class="container container-view my-4">
  <div class="title-big mb-2 ">
    <h1><i class="fa-solid fa-users"></i> Químicos</h1>
  </div>
      <div class="card-product ">


  <div class="row m-0">
    <div class="card-small col-md-7 my-4 px-0">
      <%= form_with(url: chemicals_path, method: :get, local: true) do |form| %>
            <div class="d-flex row justify-content-between m-1">
              <div class="col-sm-9">
                <%= label_tag :product_name, 'Digite o nome do produto' %>
                <%= text_field_tag :product_name, @product_name, class: 'form-control' %>

              </div>
              <div class="col-sm-3 p-0">
                <%= submit_tag 'Filtrar', class: 'btn btn-primary mt-4' %>
              </div>
            </div>
      <% end %>
    </div>
  </div>
  <div class="col-11 mx-auto mt-4">
        <div class="row card-small p-0">
        <% if @chemicals.count > 0 %>
          <% @chemicals.in_groups_of((@chemicals.size / 4.0).ceil, false).each do |chemical_group| %>
            <div class="col-md-3 border">
              <% chemical_group.each do |chemical| %>
                <p class="m-3 p-1"><i class='fa-solid fa-flask'></i> <%= link_to chemical.product_name, edit_chemical_path(chemical), class: "text-decoration-none text-dark" %></p>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <h2 class="fw-bold pending-date m-4 fs-3">Químico não encontrado.</h2>
        <% end %>
        </div>
  </div>

  </div>
</div>

<div class="btn-plus-sign-container">
  <%= link_to "<i class='fa-solid fa-flask'></i>".html_safe, new_chemical_path, class: "btn-plus-sign" %>
</div>
