<%= render "shared/modal", title: "Detalhes do produto"  do %>
  <div class="col-10 mx-auto ">
    <div class="card-small row">
        <h2><strong>Químico</strong>: <%= @chemical.product_name %></h2>
      <div class="col-md-4 my-2">
        <p><strong>Composto</strong>: <%= @chemical.compound_product %></p>
        <p><strong>Tipo</strong>: <%= @chemical.type_product.titleize %></p>
      </div>
      <div class="col-md-4 my-2">
        <p><strong>Medida</strong>: <%= @chemical.measurement_unit %></p>
        <p><strong>Embalagem</strong>: <%= @chemical.amount %></p>
      </div>
      <div class="col-md-4 my-2">
        <p><strong>Área de atuação</strong>: <%= @chemical.area %></p>
      </div>
    </div>
  </div>
<% end %>
