
<p><li>Nome <%= @chemical.product_name %></li><p>
<p><li>Composto <%= @chemical.compound_product %></li><p>
<p><li>Tip <%= @chemical.type_product %></li><p>
<p><li>Perigo <%= @chemical.hazard %></li><p>
<p><li>Area de atuação <%= @chemical.area %></li><p>
<p><li>Medida <%= @chemical.measurement_unit %></li><p>
<p><li>Quantidade <%= @chemical.amount %></li><p>
<p><li>Dosagem <%= @chemical.dosage %></li><p>
