<%= render "shared/modal", title: "Detalhes do produto"  do %>
  <div class="container mt-3 p-2">
    <table class="table table-dark table-striped table-bordered">
      <thead>
        <tr>
          <th class="table-width">Nome</th>
          <th class="table-width">Composto</th>
          <th class="table-width">Tipo</th>
          <th class="table-width">Area de atuação</th>
          <th class="table-width">Medida</th>
          <th class="table-width">Quantidade</th>
        </tr>
        </thead>
      <tbody>
        <tr>
          <td><%= @chemical.product_name %></td>
          <td><%= @chemical.compound_product %></td>
          <td><%= @chemical.type_product %></td>
          <td><%= @chemical.area %></td>
          <td><%= @chemical.measurement_unit %></td>
          <td><%= @chemical.amount %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
