<div class="container container-view mt-4">
  <div class="title-big">
    <h1><i class="fas fa-warehouse"></i> Funcionários</h1>
  </div>

<% @farms.each do  |farm|%>
 <h3><%= farm.name %></h3>
 <% farm.employees.each do |employee| %>
  <li><%= employee.user.first_name %>  <%= employee.user.last_name %> <%= employee.invite ? '': "(Convite Pendente)" %>
   <%= link_to  employee_path(employee),  data: {turbo_method: :delete}, class:'btn btn-red ma' do  %>
                <%= employee.invite ? 'Cancelar': "Demitir" %>
                <% end %>
  </li>
  <% end %>
  <% end %>
</div>
<div class="btn-plus-sign-container">
 <%= link_to "  <i class='fa-solid fa-user-plus'></i>".html_safe, new_employee_path, class: "btn-plus-sign" %>
</div>
