<div class="container container-view mt-4">
  <div class="title-big">
    <h1><i class="fas fa-warehouse"></i> Trabalhos</h1>
  </div>

  <% unless @employees.any? %>
    <h2 class="fw-bold pending-date m-4 fs-3">Não há pêndencias disponíveis para esse período.</h2>
  <% end %>
  <div class="cards">
    <div class="row">
      <% @employees.each do  |employee|%>
        <div class="col-sm-4">
          <div class="card-small p-4">
            <div class="card-small-content p-1">
              <div class="card-small-info">
                <h3><i class="fa-brands fa-pagelines"></i></i> <%= employee.farm.name %></h3>
                <p>Fazendeiro: <%= employee.farm.user.full_name.titleize %></p>
                <p>Cargo : <%= employee.manager ? 'Gerente' : "Funcionário" %></h5>
              </div>
              <%if employee.invite == false  %>
                <div class="card-small-btns mx-auto">
                  <%= link_to  employee_path(employee), data: {turbo_method: :patch}, class:' btn-plus-approve ma mb-3 ' do %>
                    <i class="fa-solid fa-user-plus"></i>
                  <% end %>
                  <%= link_to  employee_path(employee), data: {turbo_method: :delete}, class:' btn-plus-reject ma' do %>
                    <i class="fa-solid fa-user-xmark"></i>
                  <% end %>
                </div>
              <% else %>
                <i class="fa-solid fa-user-check"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="btn-plus-sign-container">

</div>
