<div class="container container-view mt-4">
  <div class="form-shape col-md-4 mx-auto">
    <%= link_to storages_path, class: 'btn-back text-decoration-none' do %>
      <i class='fa-solid fa-circle-left'></i>
    <% end %>
    <h2 class="form-title pb-2">Editar <%= @storage.name %></h2>
    <%= simple_form_for @storage do |f| %>
      <%= f.input :name, label: "Nome" %>
      <%= f.input :size, label: "Tamanho" %>
      <%= f.button :submit, "Atualizar Galpão", class:'btn-login my-2' %>
    <% end %>
  </div>
</div>
