<div class="container container-view mt-4">
  <div class="title-big">
    <h1><i class="fas fa-warehouse"></i> Galpões</h1>
  </div>
  <div class="cards">
    <div class="row">
      <% @storages.each do |storage| %>
        <div class="col-sm-4">
          <div class="card-small">
            <h2><%= storage.name %></h2>
            <div class="card-small-content">
              <div class="card-small-info">
                <p>Fazenda: <span class="title-info"><%= storage.farm.name %></p>
                <hr>
                <p>Tamanho: <span class="title-info"><%= storage.size %></p>
                <hr>
                <p>Capacidade: <span class="title-info"><%= storage.capacity %> itens</p>
              </div>
              <div class="card-small-btns">
                <%= link_to 'Editar', edit_storage_path(storage), class: "btn-edit" %>
                <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, storage_path(storage), class: "btn-delete-bin", data: {turbo_method: :delete, turbo_confirm: "Excluir Galpão?"} %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="btn-plus-sign-container">
  <%= link_to "<i class='fa-solid fa-circle-plus'></i>".html_safe, new_storage_path, class: "btn-plus-sign" %>
</div>
