<div class="container container-view mt-4">
  <div class="form-shape col-md-4 mx-auto">
    <%= link_to myfarms_path, class: 'btn-back text-decoration-none' do %>
      <i class='fa-solid fa-circle-left'></i>
    <% end %>
    <h2 class="form-title pb-2">Cadastrar novo Galpão</h2>
    <%= simple_form_for [@farm, @storage] do |f| %>
      <%= f.input :name, label: "Nome" %>
      <%= f.input :size, label: "Tamanho" %>
      <%= f.input :farm_id, as: :select, collection: @farms, label: "Fazendas" %>
      <%= f.button :submit, class: "btn-login my-2" %>
    <% end %>
  </div>
</div>
