<div class="row">
    <% @carts.each do |date_move, carts| %>
      <% carts.each do |cart| %>
        <% cart.cart_chemicals.each do |cart_chemical| %>
      <% if date_move.present? && cart.cart_chemicals.present? %>
        <div class="table-responsive col-2">
          <h2 class="title-medium table card-title"><%= date_move %></h2>
        </div>
      <% end %>
          <div class="table-responsive">
            <% if cart_chemical.quantity.present? && cart_chemical.quantity < 0 %>
              <table class="table table-danger table-striped table-bordered">
            <% else %>
              <table class="table table-success table-striped table-bordered">
            <% end %>
            <thead>
              <tr>
                <th class='text-center' scope="col">Fazenda</th>
                <th class='text-center' scope="col">Galpão</th>
                <th class='text-center' scope="col">Nome</th>
                <th class='text-center' scope="col">Quantidade</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class='text-center negative-quantity'><%= cart.storage.farm.name %></td>
                <td class='text-center negative-quantity'><%= cart.storage.name %></td>
                <td class='text-center'><%= link_to chemical_path(cart_chemical.chemical), class: "text-decoration-none text-dark" do %> <%= cart_chemical.chemical.product_name %> <% end %></td>
                <td class='text-center negative-quantity'><%= cart_chemical.quantity %></td>
              </tr>
            </tbody>
          </table>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
