<div class="container">
<h2 class='my-2'>Saidas pendentes</h2 class='my-2'>
<% @carts.each do |cart| %>
  <div class="row">
    <div class="col-6">
    <h3> Saida <%= cart.id %> - <%= cart.date_move.strftime('%d/%m/%Y') %>
     <%= link_to  cart_record_path(cart),  data: {turbo_method: :patch}, class:'btn-login px-5 py-2 text-center' do  %>
        <i class="fa-solid fa-check"></i>
      <% end %>
    </h3>
      <% cart.cart_chemicals.each do |item| %>
        <div class="card-item">
                  <div class="card-item-content">
                    <%= item.chemical.product_name %> <%= item.chemical.amount %><%= item.chemical.measurement_unit %> (x<%= item.quantity%>)
                  </div>
                </div>
      <% end %>
    </div>
</div>
<% end %>

</div>
