<div class="container container-view">
  <h2 class='my-2'>Fazenda <%= @cart.storage.farm.name %> - <%= @cart.storage.name %></h2>
  <div class="row">
    <div class=" col-md-6">
      <div class="form-shape col-md-8 mx-auto">
        <div class="row my-2">
          <div class="col-4">
            <%= link_to farms_path(farm_id: @cart.storage.farm_id, storage_id: @cart.storage_id), class: 'btn-back text-decoration-none' do %>
              <i class='fa-solid fa-circle-left'></i>
            <% end %>
          </div>
          <div class="col-4">
            <h3 class="form-title">
              <span class="<%= @entry == '1' ? 'text-dgreen' : 'text-danger' %>">
                <%= @entry == '1' ? 'Entrada' : 'Saída' %>
              </span>
            </h3>

          </div>
        </div>
        <% @entry.nil? ? @entry = params[:cart_chemical][:entry] : '' %>
        <%= render partial: 'carts/cartchemical',locals: { cart: @cart, cart_chemical: @cart_chemical, chemicals: @chemicals, entry: @entry } %>
      </div>
      <div class="form-shape  col-md-8 mx-auto mt-3">
        <%= simple_form_for @cart , url: cart_record_path(@cart) do |f| %>
          <%= f.input :description,as: :text ,label: "Descrição da #{@entry == "1" ? "Entrada" : "Saída"}", hint: "Preencher somente antes de finalizar" %>
          <%= f.button :submit, "Finalizar", class: "my-2 btn-login" %>
        <% end %>
      </div>
    </div>

    <div class=" col-md-6">
      <div class="form-shape col-md-8 mx-auto">
        <h3 class="form-title mb-3">Produtos</h3>
        <div id='chemicals'>
          <% @cart_chemicals.each do |item| %>
            <div class="card-item">
              <div class="card-item-content">
                <%= item.chemical.product_name %> -<b>   <span class="<%= @entry == '1' ? 'text-dgreen' : 'text-danger' %>"><%= (item.chemical.amount * (@entry == "1" ? item.quantity : -item.quantity)).round(3) %><%= item.chemical.measurement_unit %> </span></b>
              </div>

              <div class="card-item-actions">
                <%= link_to  cart_chemical_path(item,entry: @entry),  data: {turbo_method: :delete}, class:'btn-delete-bin' do  %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
