<div class="container container-view my-4">
   <div class="title-big">
    <h1><i class="fas fa-user"></i> Atividades</h1>
  </div>
     <% total_activities = 15 %>
     <% offset = params[:set].to_i % total_activities == 0 ? params[:set].to_i : 0 %>

  <div class="table-responsive col-12 mt-3">
    <table class="table table-striped-columns text-center ">
              <thead class="table-bg fs-5">
                  <tr>
                      <th class='text-dgreen fs-5 col-2' scope="col">Atividade <%= link_to "<i class='fa-solid fa-circle-plus'></i>".html_safe, new_activity_path, class: "text-dgreen fs-5" %></th>
                      <th class='text-dgreen d-none d-sm-table-cell' scope="col">Descrição</th>
                      <th class='text-dgreen col-1 d-none d-sm-table-cell' scope="col">Tipo</th>
                       <th class='text-dgreen d-sm-none d-table-cell' scope="col">Período</th>
                      <th class='text-dgreen d-none d-sm-table-cell' scope="col-6">Data de Início</th>
                      <th class='text-dgreen d-none d-sm-table-cell' scope="col">Data de Fim</th>
                      <th class='text-dgreen' scope="col">Fazenda</th>
                      <th class='text-dgreen col-1' scope="col"></th>
                  </tr>
              </thead>
              <tbody class="table-group-divider">
                  <% @activities.limit(total_activities).offset(offset).each do |activity| %>
                    <tr>
                      <td class='text-dgreen col-2'><%= activity.name %></td>
                      <td class='text-dgreen d-none d-sm-table-cell col-3'><%= activity.description&.truncate(27) %></td>
                      <td class='text-dgreen d-none d-sm-table-cell'><%= activity.activity_type %></td>
                      <td class='text-dgreen d-sm-none d-table-cell'><%= activity.date_start&.strftime('%d/%m/%Y') %> <br> a <%= activity.date_end&.strftime('%d/%m/%Y') %> </td>
                      <td class='text-dgreen d-none d-sm-table-cell'><%= activity.date_start&.strftime('%d/%m/%Y') %></td>
                      <td class='text-dgreen d-none d-sm-table-cell'><%= activity.date_end&.strftime('%d/%m/%Y') %></td>
                      <td class='text-dgreen'><%= activity.farm.name%></td>
                      <td class='text-dgreen col-1'>
                        <%= link_to activity_path(activity), data: {turbo_frame: :modal}, class: "text-decoration-none text-blue" do %>  <i class="fa-solid fa-circle-info"></i> <% end %>
                        <%= link_to activity_path(activity), class: "text-dgreen text-decoration-none" do %>
                          <i class="fa-solid fa-circle-info"></i>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>

              </tbody>
          </table>
  </div>
              <p class="icon-lg-right "> <% if offset > 0 %>
                  <%= link_to activities_path(set: offset-total_activities), class: "text-dgreen text-decoration-none" do %>
                    <i class="fa-solid fa-arrow-left"></i>
                  <% end %>
                <% end %>
                Página <%=(offset/total_activities)+1 %>
                <% if offset+total_activities < @activities.count %>
                  <%= link_to activities_path(set: offset+total_activities), class: "text-dgreen text-decoration-none" do %>
                    <i class="fa-solid fa-arrow-right"></i>
                  <% end %>
                <% end %>
              </p>
</div>

<div class="btn-plus-sign-container">
  <%= link_to "<i class='fa-solid fa-circle-plus'></i>".html_safe, new_activity_path, class: "btn-plus-sign" %>
</div>
