<div class="container container-view my-4">
   <div class="title-big">
    <%= link_to activities_path, class: "text-decoration-none" do %>
      <h1><i class="fa-solid fa-list-check"></i>  </i> Atividades</h1>
    <% end %>
  </div>
  <div class="card-small bg-white py-2 px-4 text-smallX">
    <%= form_with(url:activities_path,  method: :get, local: true) do |form| %>
      <div class="d-flex row  ">

        <div class="col-12 col-lg-4 mb-2 ">
          <%= label_tag :search, 'Buscar', class: "form-label" %>
          <%= text_field_tag :search, params[:search],placeholder: "Atividades...", class: 'form-control form-control-sm border border-dark' %>
        </div>
        <div class="col-12 col-lg-3 mb-2 d-flex justify-content-between">
          <div class="me-2">
            <%= label_tag :date_start, 'De', class: "form-label" %>
            <%= date_field_tag :date_start, params[:date_start], class: 'form-control form-control-sm border border-dark  rounded-4' %>
          </div>
          <div class="ms-2">
            <%= label_tag :date_end, 'Até' , class: "form-label" %>
            <%= date_field_tag :date_end, params[:date_end], class: 'form-control form-control-sm border border-dark  rounded-4' %>
          </div>
        </div>



        <div class="col-6 col-lg-3 mb-2 d-flex justify-content-evenly">
          <div class="mx-1">
            <%= label_tag :type, 'Tipo', class: "form-label" %>
            <%= select_tag :type, options_for_select([["Todos", ""]] + @types, params[:type]), class: 'form-control form-control-sm border border-dark rounded-4' %>
          </div>
          <div class="mx-1">
            <%= label_tag :farm, 'Fazenda' , class: "form-label" %>
            <%= select_tag :farm, options_for_select([["Todas", ""]] + @farms.map { |farm| ["#{farm.name} ", farm.id] }, params[:farm]), class: 'form-control form-control-sm border border-dark rounded-4' %>
          </div>
        </div>





        <div class="col-6 col-lg-2 text-smallX text-center mt-4 mx-0  d-flex justify-content-between  ">
          <div class="">
            <%= button_tag type: 'submit', class: 'btn btn-login mb-2 px-4 rounded-4 ' do %>
              <i class="fa-solid fa-filter"></i>Filtrar
            <% end %>

            <%= link_to activities_path, class: "link-danger link-underline-opacity-25 link-underline-opacity-100-hover" do %>
              <i class="fa-solid fa-circle-minus"></i>Limpar
            <% end %>
          </div>
          <div class="mx-3">
            <%= link_to activities_path({ format: :pdf }.merge(request.query_parameters)), class: "btn-plus-sign" do %>
              <i class="fa-solid fa-file-pdf"></i>
            <% end %>
          </div>
        </div>

      </div>




    <% end %>
  </div>
     <% total_activities = 10 %>
     <% offset = params[:set].to_i % total_activities == 0 ? params[:set].to_i : 0 %>
  <% if @activities.present? %>
    <div class="table-responsive col-12 mt-2">
      <table class="table  text-center ">
                <thead class="table-bg fs-5">
                    <tr>
                        <th class='text-dgreen fs-5 col-2' scope="col">Atividade <%= link_to "<i class='fa-solid fa-circle-plus'></i>".html_safe, new_activity_path, class: "text-dgreen fs-5" %></th>
                        <th class='text-dgreen d-none d-sm-table-cell' scope="col">Descrição</th>
                        <th class='text-dgreen col-1 d-none d-sm-table-cell' scope="col">Tipo</th>
                        <th class='text-dgreen d-sm-none d-table-cell' scope="col">Período</th>
                        <th class='text-dgreen d-none d-sm-table-cell' scope="col-6">Data de Início</th>
                        <th class='text-dgreen d-none d-sm-table-cell' scope="col">Data de Fim</th>
                        <th class='text-dgreen' scope="col">Fazenda</th>
                        <th class='text-dgreen col-1 ' scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <% @activities.limit(total_activities).offset(offset).each do |activity| %>
                      <tr>
                        <td class='text-dgreen col-2'><%= activity.name %></td>
                        <td class='text-dgreen d-none d-sm-table-cell col-3'><%= activity.description&.truncate(27) %></td>
                        <td class='text-dgreen d-none d-sm-table-cell'><%= activity.activity_type %></td>
                        <td class='text-dgreen d-sm-none d-table-cell'><%= activity.date_start&.strftime('%d/%m/%Y') %> <br> a <%= activity.date_end&.strftime('%d/%m/%Y') %> </td>
                        <td class='text-dgreen d-none d-sm-table-cell'><%= activity.date_start&.strftime('%d/%m/%Y') %></td>
                        <td class='text-dgreen d-none d-sm-table-cell'><%= activity.date_end&.strftime('%d/%m/%Y') %></td>
                        <td class='text-dgreen'><%= activity.farm.name%></td>
                        <td class='text-dgreen col-1'>
                          <%= link_to  edit_activity_path(activity), class: "text-dgreen text-decoration-none" do %> <i class="fa-regular fa-pen-to-square"></i> <% end %>
                          &nbsp;
                          <%= link_to activity_path(activity), class: "text-dgreen text-decoration-none" do %>
                            <i class="fa-solid fa-circle-info"></i>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>

                </tbody>
            </table>
    </div>
    <p class="icon-lg-right "> <% if offset > 0 %>
        <%= link_to activities_path(request.query_parameters.merge(set: offset - total_activities)), class: "text-dgreen text-decoration-none" do %>
          <i class="fa-solid fa-arrow-left"></i>
        <% end %>
      <% end %>
      Página <%=(offset/total_activities)+1 %>
      <% if offset+total_activities < @activities.count %>
        <%= link_to activities_path(request.query_parameters.merge(set: offset + total_activities)), class: "text-dgreen text-decoration-none" do %>
          <i class="fa-solid fa-arrow-right"></i>
        <% end %>
      <% end %>
    </p>
  <% else %>
    <h2 class="fw-bold pending-date m-4 fs-3">Atividades não encontradas.</h2>
  <% end %>

</div>

<div class="btn-plus-sign-container">
  <%= link_to "<i class='fa-solid fa-circle-plus'></i>".html_safe, new_activity_path, class: "btn-plus-sign" %>
</div>
