<div class="container container-view my-4">
  <div class="title-big">
    <h1><i class="fa-solid fa-list-check"></i>  </i> Atividade</h1>
  </div>
  <div class="row px-4">

    <div class="col-lg-7 mb-2">
      <div class="card-small row">
         <div class="d-flex justify-content-between align-items-center my-2">
            <%= link_to activities_path(), class: 'btn-back text-decoration-none me-2' do %>
              <i class='fa-solid fa-circle-left'></i>
            <% end %>
            <h2 class=" py-2 text-center flex-grow-1 mb-0"> <%= @activity.description %>
             <%= link_to  edit_activity_path(@activity), class: "text-dgreen border border-2 border-secondary border-opacity-50   rounded-4 p-1 " do %> <i class="fa-regular fa-pen-to-square"></i> <% end %>
            </h2>
          </div>
        <div class="col-md-6">
          <p class ="py-3">Categoria: <%= @activity.activity_type %></p>
          <p class ="py-3">Area de Atuação: <%= @activity.area %></p>
          <p class ="py-3">Químicos:
            <% @activity.activity_chemicals.each do |chemical| %>
              <div class ="px-4 py-2">
                <%= chemical.chemical.product_name %> ( <%= chemical.quantity %><%= chemical.chemical.measurement_unit %> )
                (<%= link_to  activity_chemical_path(chemical),  data: {turbo_method: :delete}, class:' text-danger text-decoration-none' do  %>
                  <i class="far fa-trash-alt"></i>
                <% end %>)
              </div>
            <% end %>
          </p>
        </div>
        <div class="col-md-6">
          <p class ="py-3">Período: <%= @activity.date_start&.strftime('%d/%m/%Y') %> a <%= @activity.date_end&.strftime('%d/%m/%Y') %> (<%= @activity.forecast_days %> dias)</p>
          <p class ="py-3">Fazenda: <%= @activity.farm.name %></p>
          <p class ="py-3">Local: <%= @activity.place %></p>
          <%= simple_format("Recursos: " + @activity.resources, { class: "py-3" }, wrapper_tag: nil) %>
          <p class ="py-3">Responsáveis:
            <% @activity.responsibles.each do |responsible| %>
              <%= responsible.name.presence || responsible.employee&.user&.full_name %>
              (<%= link_to  responsible_path(responsible),  data: {turbo_method: :delete}, class:' text-danger text-decoration-none' do  %>
                  <i class="far fa-trash-alt"></i>
                <% end %>) /
            <% end %>
          </p>
        </div>

      </div>
    </div>

    <div class="col-lg-4 mx-lg-5">
      <div class="card-small">
        <h3 class ="form-title">Químicos</h3>
          <div class="form-shape col-10 col-md-8 mx-auto mt-3">
            <%= simple_form_for [@activity, @activity_chemical]  do |f| %>
              <%= f.input :chemical_id, as: :select, collection: @chemicals.order(product_name: :asc).map { |chemical| ["#{chemical.product_name&.truncate(30)}(#{chemical.measurement_unit})", chemical.id] }, label: "Químico" %>
              <%= f.input :quantity, input_html: { min: 0 }, label: "Quantidade" %>
              <%= f.button :submit, "Adicionar", class: "my-2 btn-login" %>
             <% end %>
          </div>

      </div>
      <div class="card-small">
        <h3 class ="form-title">Responsáveis</h3>
          <div class="form-shape col-10 col-md-8 mx-auto mt-3">
            <%= simple_form_for [@activity, @responsible]  do |f| %>
              <%= f.input :employee_id, as: :select, collection: @employees.map { |employee| ["#{employee.user.full_name}", employee.id]} , label: "Funcionário" %>
              <%= f.input :name, label: "Nome", hint: "Não é necessário, caso selecione o funcinário" %>
              <%= f.button :submit, "Adicionar", class: "my-2 btn-login" %>
             <% end %>
          </div>
      </div>
    </div>
  </div>

</div>
